@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");
@import url('https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

footer {
    background-color: rgb(198, 198, 198);
    font-weight: 700;
    padding: 10px;
    border-radius: 20px;
    bottom: 0;
}

hr {
    border-top: 5px solid rgb(0, 255, 17);
}

.fondo {
    background-color: rgb(206, 168, 243);

}

.blanco {
    background-color: aliceblue;
}

.button-delete:hover {
    background-color: gray !important;
}

.container {
    gap: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    background-color: antiquewhite;
}

/*CArtas*/
.card {
    box-shadow: 5px 5px 5px rgb(211, 211, 211);
    border: 5px solid rgb(245, 34, 227);
    background-color: rgb(206, 168, 243);
    border-radius: 5px;
    height: 240px;
    width: 180px;
}

.card:hover {
    transition: .2s ease-in;
    box-shadow: 10px 10px 30px rgb(211, 211, 211);
}

.card .card-image {
    text-align: center;
    font-size: 60px;
    display: block;
    width: 1fr;
}

.card .card-name {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    display: block;
    width: 1fr;
}

.card .card-price {
    text-align: center;
    text-overflow: clip;
    font-size: 20px;
    font-weight: 500;
    display: block;
    width: 1fr;
}

.card .card-button {
    text-align: center;
    display: block;
}

.button-add {
    height: 40px;
    width: 80px;
    outline: 2px solid blueviolet !important;
}

.card .card-button button {
    margin-top: 10px;
    font-size: 20px !important;
    background-color: aquamarine;
}

.card-error {
    box-shadow: 5px 5px 20px rgba(239, 4, 4, 0.147);
    border: 5px solid red;
    background-color: cornsilk;
    border-radius: 5px;
    padding: 40px;
    color: red;
}

.centrar-div {
    text-align: center;
}


.centrar {
    text-align: center;
}

